.user-menu-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
}
.user-menu-icon-holder {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 7px;
}
.cart-icon-holder {
  position: absolute;
  height: 40px;
  right: 70px;
  top: 7px;
}
.user-menu-icon:hover {
  fill: blue;
}
.user-menu-links-holder {
  position: absolute;
  width: 250px;
  right: 10px;
  margin-top: 3px;
  background: white;
  z-index: 1299;
  border: 1px solid black;
  top: 47px;
  /* padding: 10px; */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-menu-links-holder a {
  font-family: "Josefin Slab";
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  border-bottom: 1px solid;
  line-height: normal;
  width: 100%;
  text-align: left;
}
.user-menu-links-holder a:last-child {
  border-bottom: 0px;
}
.user-menu-links-holder a:hover {
  color: blue;
}

@media only screen and (max-width: 800px) {
  .user-menu-icon-holder {
    right: 15px;
    top: 16px;
  }
  .cart-icon-holder {
    right: 75px;
    top: 16px;
  }
  .user-menu-links-holder {
    top: 67px;
  }
}
