.series-card-body {
  /* height: 400px; */
  width: 350px;
  margin: 10px;
  border: 1px solid black;
  transition: 0.3s;
}
.series-card-body:hover {
  box-shadow: 1px 1px 3px black;
  transform: translateY(-10px);
}
.series-card-image-and-title {
  position: relative;
  height: 100%;
  width: 100%;
}
.series-card-image-bg {
  height: 100%;
  width: 100%;
}
.image-darkener {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: 10; */
  background: black;
}
.series-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Slab", "open-sans" !important;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
}
.series-card-info-text {
  font-family: "Roboto", "open-sans";
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 775px) {
  .series-card-body {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .series-card-body {
    width: calc(50% - 4px);
    margin: 2px;
  }
}
