.contact-form-holder {
  height: 100px;
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-family: "Josefin Slab";
  padding-top: 50px;
  margin: 0 auto;
}
.contact-form-email-address {
  color: blue;
}
@media only screen and (max-width: 800px) {
  .contact-form-holder {
    padding: 10px;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 350px) {
  .contact-form-holder {
    padding: 10px;
    font-size: 16px;
  }
}
